$padding-elements: 15px;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: 49%;
  @media (max-width: 500px) {
    width: 100%;
  }
  height: 180px;

  -webkit-box-shadow: 7px 7px 9px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 7px 7px 9px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 7px 7px 9px -2px rgba(0, 0, 0, 0.15);
  @media (min-width: 768px) {
    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  font-size: 18px;
  flex: 1 0 auto;
  padding-bottom: $padding-elements;
}
.date {
  font-size: 14px;
}
.progress {
  font-size: 14px;
  padding-bottom: $padding-elements;
  font-weight: 800;
}

.scale {
  border-radius: 15px;
  overflow: hidden;
}

.type {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 15px;
  content: '';
  top: 50%;
  right: 0%;
  border-radius: 15px 0px 0px 15px;
  transform: translate(0%, -50%);
  .type {
    transform: rotate(-90deg);
    position: relative;
  }
  p {
    // background-color: red;
    width: 100px;
    font-size: 10px;
    // position: absolute;
    // content: '';
    // bottom: 10%;
    // right: -50%;
    color: white;
    transform: translate(50%, 0%);
  }
}
