.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 24px;
  border-radius: 15px;
  max-width: 326px;
  height: 202px;
  width: 160px;
  @media (max-width: 550px) {
    zoom: 80%;
  }
  @media (max-width: 450px) {
    zoom: 60%;
  }
  @media (max-width: 350px) {
    zoom: 56%;
  }
}
.title {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  height: 44px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.19);
  svg {
    height: 32px;
    width: 32px;
  }
}
