.actions {
  display: flex;
  flex-wrap: wrap;
  //   background-color: rgba(0, 85, 255, 0.217);
  gap: 32px;
  @media (max-width: 900px) {
    gap: 5px;
  }
  margin-left: 15px;
}

.sendings {
}
.sort {
  margin-left: 15px;
}
.cards {
  display: flex;
  width: 100%;
  // background-color: red;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 15px;
  // & > *:not(:last-child) {
  //   margin-bottom: 15px;
  // }
  // background-color: rgba(102, 51, 153, 0.372);
}
