$margin-top: 30px;

.box {
  padding: 125px 0px 125px;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 50px;
    color: #f3f7f7;
  }
  p {
    margin-top: $margin-top;
    font-size: 20px;
    color: #e3e7e7;
  }
  flex: 0 0 620px;
}

.action {
  position: relative;
  display: flex;
  margin-top: $margin-top + $margin-top;
  height: 50px;
  width: 100%;
  input {
    position: relative;

    padding-left: 15px;
    flex: 1;
    display: flex;
    border-radius: 10px 30px 30px 10px;
    border: 1px solid #a5a6ab;
    background-color: rgb(255, 255, 255);
    margin-right: 40px;
  }
  button {
    position: absolute;
    content: '';
    bottom: 2px;
    right: 42px;
  }
}
.chart {
  background-color: white;
  border-radius: 10px;
}
