.listItem {
  position: relative;
  $h1: 24px;
  $p: 18px;
  display: flex;
  padding: 25px 40px;
  border-radius: 18px;
  flex: 1 0 auto;
  background-color: #d2ccfb;
  .star {
    position: absolute;
    top: 15px;
    left: -23px;
  }
  .text {
    padding-right: 48px;
    align-self: center;
    justify-content: center;
    vertical-align: middle;
    //! при адаптиве удалить flex если будет мешать
    flex: 1 0 auto;
    h1 {
      font-size: $h1;
      padding-bottom: 8px;
    }
    p {
      font-size: $p;
    }
  }
  .picture {
    display: flex;
    justify-content: center;
  }
}
