.chevron-down {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.szh-accordion {
  margin: 0 auto;
  width: 840px;
  border: 1px solid white;
  border-radius: 15px;
  overflow: hidden;
  &__item {
    border-top: 1px solid #ccc;
    background-color: #f5faff;
    &-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: left;
      color: white;
      background-color: #5175a8;
      border: none;
      &:hover {
        background-color: lighten(#5175a8, 5%);
      }
    }

    &-content {
      transition: height 0.2s ease-in-out;
    }

    &-panel {
      padding: 1rem;
    }

    &--expanded {
      .szh-accordion__item-btn {
        background-color: #5175a8;
      }
      .chevron-down {
        transform: rotate(180deg);
      }
    }
  }
}
