$margin-top: 15px;

.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -50px;
  margin-bottom: -30px;
  //   background-color: #505260;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  img {
    margin-top: $margin-top;
    height: 128px;
    width: 128px;
  }
  p {
    margin-top: $margin-top;
  }
  label {
    font-weight: 700;
  }
  button {
    margin-top: $margin-top;
  }
}
.whatsapp {
  border-radius: 50%;
}
