.box {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 150px;
}
.container,
.containerNotRight {
  max-width: 1230px;
  margin: 0 auto;
  @media (max-width: 1260px) {
    padding: 0 50px;
  }
  @media (max-width: 1160px) {
    padding: 0 30px;
  }
  @media (max-width: 970px) {
    padding: 0 15px;
  }
}
.containerNotRight {
  padding-right: 0px;
  @media (max-width: 430px) {
    padding: 0 15px;
  }
}

.header {
  padding-top: 30px;
  @media (max-width: 1160px) {
    padding-top: 30px;
  }
  @media (max-width: 970px) {
    padding-top: 15px;
  }
  .nav {
    .navLink {
      margin-left: 16px;
      @media (max-width: 550px) {
        margin-left: 10px;
      }
    }
    display: flex;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    .logoImg {
      cursor: pointer;
      display: flex;
      flex: 1;
      img {
        height: 40px;
        width: 150px;
      }
    }
  }
}
.bgTop {
  position: relative;
  .bgImgOne {
    position: absolute;
    z-index: -20;
    top: 0;
    right: 0px;
    transition: all ease-in-out 0.3s;
    @media (max-width: 1840px) {
      height: calc(663px - 2%);
      width: calc(1051px - 5%);
    }
    @media (max-width: 1600px) {
      height: calc(663px - 10%);
      width: calc(1051px - 15%);
    }
    @media (max-width: 1300px) {
      height: calc(663px - 15%);
      width: calc(1051px - 20%);
    }
    @media (max-width: 1260px) {
      height: calc(663px - 70%);
      width: calc(1051px - 30%);
    }
    @media (max-width: 1140px) {
      height: calc(663px - 150%);
      width: calc(1051px - 40%);
    }
    @media (max-width: 1060px) {
      height: calc(663px - 160%);
      width: calc(1051px - 42%);
    }
    @media (max-width: 1020px) {
      height: calc(663px - 170%);
      width: calc(1051px - 48%);
    }
    @media (max-width: 970px) {
      height: calc(663px - 280%);
      width: calc(1051px - 54%);
    }
    @media (max-width: 920px) {
      height: calc(663px - 320%);
      width: calc(1051px - 65%);
    }
    @media (max-width: 850px) {
      margin-top: -360px;
      height: 830px;
      width: 1251px;
    }
    @media (max-width: 620px) {
      margin-right: -100px;
    }
    @media (max-width: 620px) {
      margin-right: -180px;
    }
    @media (max-width: 550px) {
      margin-top: -440px;
    }
    @media (max-width: 530px) {
      margin-right: -320px;
    }
    @media (max-width: 430px) {
      margin-top: -375px;
    }
    @media (max-width: 360px) {
      margin-top: -428px;
    }
  }
}

.main {
  margin-top: 45px;
  @media (max-width: 430px) {
    margin-top: 10px;
    zoom: 80%;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 360px) {
    margin-top: 10px;
    zoom: 70%;
    display: flex;
    justify-content: center;
  }
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  .title {
    flex: 1 1 auto;
    max-width: 432px;
    @media (max-width: 850px) {
      flex: 1 0 340px;
    }
    @media (max-width: 550px) {
      zoom: 80%;
    }
    @media (max-width: 540px) {
    }
    @media (max-width: 430px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      zoom: 100%;
    }
    * {
      margin-bottom: 48px;
      transition: all ease-in-out 0.3s;
      @media (max-width: 1060px) {
        margin-bottom: 30px;
      }
      @media (max-width: 430px) {
        margin-bottom: 0px;
      }
    }
    $h1: 52px;
    $h2: 24px;
    $p: 16px;
    h1 {
      line-height: 60px;
      font-size: $h1;
      margin-bottom: 24px;
      @media (max-width: 1060px) {
        transition: all ease-in-out 0.3s;
        font-size: calc($h1 - 30%);
        margin-bottom: 10px;
      }
      @media (max-width: 970px) {
        font-size: calc($h1 - 50%);
        margin-bottom: 8px;
      }
      @media (max-width: 850px) {
        font-size: calc($h1 - 60%);
        color: white;
      }
      @media (max-width: 850px) {
        font-size: calc($h1 - 80%);
        color: white;
      }
      @media (max-width: 550px) {
        width: 350px;
      }
      @media (max-width: 430px) {
        font-size: calc($h1 - 150%);
        color: white;
        margin-bottom: 0px;
        width: 100%;
      }
    }
    h2 {
      font-size: $h2;
      color: #713ee6;
      @media (max-width: 1060px) {
        font-size: calc($h2 - 30%);
      }
      @media (max-width: 970px) {
        font-size: calc($h2 - 50%);
        margin-bottom: 8px;
      }
      @media (max-width: 850px) {
        font-size: calc($h2 - 60%);
        color: white;
      }
      @media (max-width: 430px) {
        font-size: calc($h2 - 55%);
        color: white;
        margin-bottom: 0;
      }
    }
    .pictureHidden {
      display: none;
      @media (max-width: 430px) {
        display: block;
        img {
          height: 90%;
          width: 90%;
        }
      }
    }
    p {
      font-size: $p;
      @media (max-width: 1060px) {
        font-size: calc($p - 30%);
        width: 300px;
      }
      @media (max-width: 970px) {
        font-size: calc($p - 30%);
        width: auto;
      }
      @media (max-width: 850px) {
        font-size: calc($p - 35%);
        color: white;
      }
      @media (max-width: 550px) {
        width: 350px;
      }
      @media (max-width: 430px) {
        font-size: calc($p - 25%);
        color: white;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  .picture {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1060px) {
      justify-content: center;
    }
    @media (max-width: 920px) {
      justify-content: flex-end;
    }
    img {
      @media (max-width: 1300px) {
        height: calc(467px - 10%);
        width: calc(724px - 15%);
      }
      @media (max-width: 1260px) {
        height: calc(467px - 25%);
        width: calc(724px - 30%);
      }
      @media (max-width: 1060px) {
        height: calc(467px - 50%);
        width: calc(724px - 55%);
        justify-content: center;
      }
      @media (max-width: 970px) {
        height: calc(467px - 60%);
        width: calc(724px - 55%);
        justify-content: center;
        margin-right: -10px;
      }
      @media (max-width: 850px) {
        height: calc(467px - 56%);
        width: calc(724px - 60%);
        margin-right: -20px;
      }
      @media (max-width: 770px) {
        height: calc(467px - 50%);
        width: calc(724px - 56%);
        margin-right: -150px;
      }
      @media (max-width: 730px) {
        height: calc(467px - 50%);
        width: calc(724px - 80%);
        margin-right: -150px;
      }
      @media (max-width: 680px) {
        margin-right: -230px;
      }
      @media (max-width: 550px) {
        zoom: 80%;
        margin-right: -150px;
        max-height: 290px;
      }
      @media (max-width: 540px) {
        height: calc(467px - 50%);
        width: calc(724px - 80%);
        margin-right: -250px;
      }
      @media (max-width: 430px) {
        display: none;
      }
    }
  }
}
