$h3: 32px;
$p: 16px;

.AuthFormBox {
  position: relative;
  .closeBtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    background-color: #713ee6;
    border-radius: 15px;
    padding: 13px;
  }

  .AuthForm,
  .AuthForm2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    padding: 50px 40px 40px;
    width: 560px;
    height: 570px;

    h3 {
      font-size: $h3;
      color: #713ee6;
      margin-bottom: 40px;
    }
    .authForms {
      display: flex;
      flex-direction: column;
      width: 100%;

      .inputWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        .errorMessage {
          position: absolute;
          top: -15px;
          left: 16px;
          // transform: translateX(-50%);
          font-size: 12px;
          color: red;
        }

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
        input {
          display: flex;
          padding: 23px 15px;
          height: 45px;
          border: 1px #eef0f6 solid;
          border-radius: 15px;
          border-bottom: 2px #eef0f6 solid;

          & ::placeholder {
            color: #a5a5a4;
          }
        }
      }
    }
  }

  .AuthForm2 {
    width: 560px;
    height: 380px;
  }

  .sendButton {
    border: 0px;
    margin-top: 30px;
  }
}
