.wrapper {
  //магия фиксирования - если элемент зафиксирован то от него нету скролла
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  -webkit-user-select: none; /* запретить выделение для webkit браузеров */
  -moz-user-select: none; /* запретить выделение для Firefox */
  -ms-user-select: none; /* запретить выделение для IE */
  user-select: none; /* запретить выделение для остальных браузеров */
  background-color: #ffffff;
  // box-shadow: 18px 30px 30px -8px rgba(0, 0, 0, 0.05);
}

.box {
  display: flex;
  align-items: center;
  height: 88px;
  flex: 1 0 100%;
  padding: 0px 30px;
  @media (max-width: 768px) {
    padding: 0px 20px;
  }
}

//!--------------------------BURGER----------------------------//

$burgerWidth: 256px;
$roundDiameter: 40px;
$popupMarginRight: 8px;

.burgerButton {
  margin-right: 20px;
  height: 20px;
  width: 20px;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.burgerItem {
  svg {
    fill: #676a7d;
    height: 24px;
    width: 24px;
    margin-right: 16px;
  }
  &:hover {
    color: #852876;
    svg {
      fill: #852876;
    }
  }
  &.active {
    color: #852876;
    font-weight: 700;
    svg {
      fill: #852876;
    }
  }
}

.burger,
.burgerOpen {
  position: absolute;
  content: '';
  width: 256px;
  height: 100vh;
  // overflow: hidden;
  padding: 30px 16px 0px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  // box-shadow: 4px 20px 20px -1px rgba(0, 0, 0, 0.05);

  .border {
    position: absolute;
    content: '';
    top: 0px;
    right: -32px;
    background-color: #ffffff;
    height: 32px;
    width: 32px;

    // z-index: 0;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 32px;
      width: 32px;
      background: darken(#fafbfc, 3%);
      border-radius: 15px 0px 0px 0px;
    }
  }

  .burgerItems {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .burgerItem {
      font-size: 18px;
      @media (max-width: 768px) {
        font-size: 16px;
      }
      padding: 16px;
      height: 55px;
      width: 224px;
      // border: 1px solid #e7d4e4;
      margin-bottom: 8px;
      border-radius: 15px;
      &:hover {
        background-color: #e7d4e4;
        transition: background-color 0.2s ease;
      }
    }
    span {
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      label {
        width: 18px;
        height: 18px;
        background-color: rgb(165, 165, 165);
        border-radius: 50%;
        margin-right: 15px;
      }
    }
  }
  @media (max-width: 768px) {
    transition: all 0.25s ease-in-out;
    transform: translateX(-100%);
  }
}

.burgerOpen {
  transition: all 0.25s ease-in-out;
  transform: translateX(-100%);
  @media (max-width: 768px) {
    transition: all 0.25s ease-in-out;
    transform: translateX(0%);
  }
}

//!--------------------------LOGO----------------------------//
.logo {
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 226px;
  @media (max-width: 768px) {
    display: none;
  }
  a {
    display: flex;
    align-self: center;
  }
}

//!--------------------------OUR STYLES----------------------------//

.logo,
.popup,
.user,
.burgerItem {
  cursor: pointer;
}

.popupFlex {
  flex: 1 0 auto;
}

.popup,
.user {
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  background-color: #dadada27;
  .arrow {
    height: 20px;
    width: 20px;
    transform: rotate(0deg);
  }
  &:hover {
    background-color: #e7d4e4;
    transition: transform 0.3s ease;
    .arrow {
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  }
}

//!--------------------------POPUP----------------------------//
.popup {
  width: fit-content;
  flex: 1 0;
  .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $roundDiameter;
    width: $roundDiameter;
    margin-right: $popupMarginRight;
    background-color: #464a61;
    border-radius: 50%;
  }
  .plusIcon {
    height: 16px;
    width: 16px;
  }
  span {
    text-overflow: clip;
    flex: 1 0;
    margin-right: $popupMarginRight;
    @media (max-width: 835px) {
      width: 70px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}

//!--------------------------USER----------------------------//

.user {
  width: fit-content;
  margin: 0;
  .avatar {
    height: $roundDiameter;
    width: $roundDiameter;
    margin-right: $popupMarginRight;
    @media (max-width: 768px) {
      span {
        display: none;
      }
    }
    background-color: green;
    border-radius: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-right: $popupMarginRight;
    .mail {
    }
    .id {
    }
    @media (max-width: 768px) {
      span {
        display: none;
      }
    }
  }
}
