.header {
  background-color: #343642; // blue-dark
  height: 70px;
  -webkit-user-select: none; /* запретить выделение для webkit браузеров */
  -moz-user-select: none; /* запретить выделение для Firefox */
  -ms-user-select: none; /* запретить выделение для IE */
  user-select: none; /* запретить выделение для остальных браузеров */
  label {
  }
}
.box {
  display: flex;
  // align-items: center;
  height: 70px;
}

.logo {
  display: flex;
  padding-top: 6px;
  flex: 1 0 auto;
  align-items: center;
}

.user_name {
  display: flex;
  align-items: center;
}

.drop_menu,
.link {
  display: flex;

  span {
    font-size: 17px;
    color: white;
    transition: background-color ease-in 0.1s;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 10px;
    // transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:hover {
      cursor: pointer;
      background-color: lighten(#343642, 8%);
    }
  }
}

.drop_menu {
  display: flex;
  position: relative;
}
