.sort {
  display: flex;
  // width: 320px;
  // width: max-content;
  flex-wrap: wrap;

  margin: 0px 15px 15px;
  @media (max-width: 505px) {
    align-items: center;
    justify-content: center;
    flex: 100%;
  }
  button {
    font-weight: 700;
    border: 0px;
    padding: 10px;
    width: 95px;
    // border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(205, 205, 205, 0.24);
    background-color: #ffffffab;
    @media (max-width: 505px) {
      height: 30px;
      padding: 0px;
    }
    &:active {
      transform: translateY(2px);
    }
  }
}
.order {
  display: flex;

  // background-color: red;
  @media (max-width: 500px) {
    flex: 100%;
  }
  justify-content: center;
  align-items: center;
  // background-color: red;
  flex-wrap: nowrap;
}
