.box {
  display: flex;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
.testimonial {
  transition: all 0.5s ease-out;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
  width: 350px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #f2f7ff;
  -webkit-box-shadow: 0px 4px 17px -2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 4px 17px -2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 4px 17px -2px rgba(0, 0, 0, 0.23);
  &:hover {
    cursor: pointer;
    p {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255, 0.8);
    }
    h3 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
  }
  &:hover {
    .testimonialFooter {
      transition: all ease-in-out 0.3s;
      transform: translateY(10%);
    }
  }
}

.testimonialBody {
  padding: 40px 40px 80px;
  position: relative;
  z-index: 0;
  background-color: #f2f7ff;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -30px;
    right: 45%;
    background: #5175a8;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  &:hover:before {
    transform: scale(35);
  }
}

.testimonialBody p {
  color: #555;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  height: 200px;

  text-overflow: ellipsis;
}

.testimonialBody .faQuote {
  color: #eee;
  font-size: 40px;
  float: right;
}

.testimonialFooter {
  position: relative;
  z-index: 2;
  background-color: #5175a8;
  color: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  height: 170px;
}

.testimonialFooter img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin-top: -80px;
  &:hover {
    transition: all ease-in-out 0.5s;
    transform: translateY(-5%);
  }
}

.testimonialFooter h3 {
  margin: 10px 0;
  letter-spacing: 2px;
  color: #ffffff;
}

.testimonialFooter h4 {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  letter-spacing: 1px;
}

.testimonialQuote {
  display: flex;
  align-items: center;
  justify-content: end;
}
