//*params*//
$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$container-width: 95%;
//*params*//
$duration: 0.15s;

$main-text: #505260; // main text

$background-1: #343642; // blue-dark
$background-2: #fff; // body background color

$color-1: #2f889a; // blue-light
$color-2: #d2d8d8; // grey
$color-3: #d76666; // error  messages
