@import './variables.scss';
@import './normalize.scss';
@import './hoverCard.scss';
@import './reCall.scss';
@import './socialLinks.scss';
/*--------------------*/

body {
  height: 3000px;
}

[class*='__container'] {
  max-width: 1240px;
  margin: 0 auto;
  // border: 1px solid rgb(255, 89, 0);
}

.hidden {
  display: none;
}

.red__button {
  border: 1px solid darken(#d76666, 5%);
  color: white;
  background-color: #cb5656;
  border-radius: 30px;
  height: 46px;
  padding: 0px 20px;
  cursor: pointer;
  &:hover {
    background-color: darken(#cb5656, 5%);
  }
  &:active {
    background-color: lighten(#cb5656, 1%);
  }
}
