@import './_variables.scss';
@import './_normalize.scss';
/*--------------------*/

body {
  background-color: #fafbfc;
}

[class*='__сontentBOX'] {
  margin-left: 256px;
  margin-top: 88px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

[class*='__container'] {
  max-width: 1920px;
  margin: 0 auto;

  border: 1px solid rgb(47, 255, 0);
}
